body{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
}

.navbar {
    display: flex;
    align-items: center;  
    padding: 10px;
    background: linear-gradient(135deg, #454647, #349cf1);
    position: sticky;
}

.logoContainer {
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.logo {
    max-width: 100px;  
}

.navLinks {
    display: flex;
    align-items: center; 
    margin-left: auto; 
}

.navLink {
    margin: 0 15px; 
    color: white;
}

 
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .navLinks {
        margin-left: 0;  
    }
}
